html, body {
    font-family: 'Poppins', 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #212529;
}

.landing {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.sky-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.left-building-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
}

.middle-people-anteaters-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.right-building-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
}

.left-building {
    width: 100%;
    height: 100%;
}

.middle-people-anteaters {
    width: 100%;
    height: 100%;
}

.right-building {
    width: 100%;
    height: 100%;
}

.landing-container {
    text-align: center;
    height: 100vh;
    animation-duration: 5000ms;
    animation-name: fadeIn;
}

.icssc-logo-header {
    width: 100px;
    height: auto;
    float: left;
    margin: 0.5em;
}

.pretitle {
    font-weight: 600;
    font-size: 24px;
    padding-top: 5em;
    color: white;
}

.main-title {
    font-weight: 700;
    font-size: 60px;
    padding-top: 1em;
    color: white;
}

.dates {
    font-weight: 500;
    font-size: 28px;
    padding-top: 1em;
    color: white;
}

.globe-img {
    padding-bottom: 2em;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    color: #43B0F1;
    padding: 15px 30px;
    border-radius: 40px;
    background: white;
    border: none;
    margin-top: 7em; 
}

.about {
    padding-top: 5em;
    padding-bottom: 5em;
}

.about-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.about-text {
    font-size: 18px;
    padding: 0 10%;
    text-align: center;
}

.schedule {
    padding-top: 5em;
}

.schedule-title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.vertical-timeline::before {
    background: linear-gradient(180deg, #F62600 0%, #FFA135 100%);
    width: 6px;
    border-radius: 20px;
}

.vertical-timeline-element-title {
    font-size: 26px;
}

.vertical-timeline-date {
    color: #212529;
    margin: 0em 2em;
}

.vertical-timeline-element-one .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #F62600, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-two .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #FFA135, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.more-events {
    font-size: 16px;
    padding-top: 3em;
    text-align: center;
}

.faq {
    background: #5f534f;
    color: white;
}

.faq-container {
    padding: 5em 2em;
}

.faq-title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.faq-card {
    font-size: 18px;
    border: 0;
    margin-bottom: 1em;
    border-radius: 20px;
    animation-duration: 3000ms;
    animation-name: fadeIn;
}

.chevron-icon {
    margin-right: 1em;
    transition: all 0.5s;
}

.chevron-icon-open {
    transform: rotate(90deg);
    margin-right: 1em;
    transition: all 0.5s;
}

.faq-card-header {
    background: #75625c;
}

.faq-card-header:hover {
    cursor:pointer;
}

.faq-card-body {
    background: #75625c;
    padding-left: 3em;
}

.special-thanks {
    text-align: center;
    padding-bottom: 10em;
}

.special-thanks-title {
    font-size: 32px;
    font-weight: 600;
}

.ctc-logo {
    width: 600px;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.ctc-logo:hover {
    transform: scale(0.6);
}

.ctc-title {
    font-size: 24px;
    margin-top: -1em;
}

footer {
    text-align: center;
    padding-bottom: 2em;
}

.icssc-logo-footer {
    width: 120px;
    height: auto;
    padding-bottom: 1em;
}
