.landing-container {
    text-align: center;
    height: 100vh;
}

.pretitle {
    font-weight: 600;
    font-size: 20px;
    padding-top: 4em;
    color: #4D4D4D;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    padding-top: 0.5em;
    color: #387CA0;
}

.dates {
    font-weight: 500;
    font-size: 22px;
    padding-top: 1em;
    color: #4D4D4D;
}

.globe-img {
    padding-bottom: 2em;
}

.register-btn {
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 15px 25px;
    border-radius: 40px;
    background: linear-gradient(270deg, #387CA0 0%, #0F8C2A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.about {
    text-align: center;
    padding-top: 5em;
}

.schedule {
    padding-top: 5em;
}

.faq {
    padding-top: 5em;
}

h2 {
    text-align: center;
}