html, body {
    font-family: 'Poppins', 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #212529;
}

.landing {
    height: 100vh;
    display: flex;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-image: url('./img/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.sky-background-container {
    height: 100vh;
}

.ground-container {
    position: absolute;
    bottom: 0;
    margin-bottom: -3px;
    height: 5vw;
}

.left-building-container {
    position: absolute;
    width: 20vw;
    height: auto;
    left: 0;
    bottom: 0;
}

.background {
    height: 100%;
    background-position: center bottom;
}

.ground {
    height: 100%;
}

.middle-people-anteaters-container {
    position: absolute;
    width: 35vw;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.right-building-container {
    position: absolute;
    width: 25vw;
    height: auto;
    right: 0;
    bottom: 0;
}

.left-building {
    width: 100%;
    padding-bottom: 2.5vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.middle-people-anteaters {
    width: 100%;
    padding-bottom: 2vw;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.right-building {
    width: 100%;
    padding-bottom: 3vw;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.landing-text-container {
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    padding: 0;
    z-index: 1;
}

.icssc-logo-header {
    width: 100px;
    height: auto;
    float: left;
    margin: 0.5em;
    position: absolute;
    animation-duration: 500ms;
    animation-name: fadeIn;
}

.pretitle {
    font-weight: 600;
    font-size: 24px;
    color: white;
    animation-duration: 1000ms;
    animation-name: fadeIn;
}

.main-title {
    font-weight: 700;
    font-size: 72px;
    padding-top: 1em;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation-duration: 2000ms;
    animation-name: fadeIn;
}

.dates {
    font-weight: 500;
    font-size: 28px;
    padding-top: 1em;
    color: white;
    animation-duration: 3000ms;
    animation-name: fadeIn;
}

.deadline {
    font-size: 22px;
    padding-top: 2em;
    color: white;
    animation-duration: 3000ms;
    animation-name: fadeIn;
}

.globe-img {
    padding-bottom: 2em;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #0080E9;
    padding: 15px 30px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    margin-top: 3vh;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;  
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    animation-delay: 500ms; 
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

.btn:hover {
    background: #0080E9;
    color: white;
}

.about-container {
    padding: 15vh 1vw 8vw 1vw;
}

.about-row {
    display: flex;
    align-items: center;
}

.about-title {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 1.5em;
    text-align: left;
    animation: slideinright 1s forwards;
}

.about-text {
    font-size: 20px;
    text-align: left;
    vertical-align: auto;
    animation: slideinright 1s forwards;
}

.earth {
    width: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation:slideinleft 1s forwards;
}

@keyframes slideinleft{
    0% {transform: translateX(-50%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

@keyframes slideinright {
    0% {transform: translateX(50%); opacity: 0; }
    100% {transform: translateX(0%);  opacity: 1;}
}

.schedule-container {
    padding-bottom: 10rem;
}

.schedule-title {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 2em;
    text-align: center;
}

.vertical-timeline::before {
    background: linear-gradient(180deg, #F62600 0%, #FF8F3F 21.35%, #F6D365 44.27%, #49C839 65.62%, #44B2F0 84.37%);
    width: 6px;
    border-radius: 20px;
}

.vertical-timeline-element-title {
    font-size: 26px;
}

.vertical-timeline-element-subtitle {
    font-size: 18px;
    padding-top: 1rem;
}

.vertical-timeline-element-time {
    font-size: 20px;
}

.vertical-timeline-date {
    color: #212529;
    margin: 0em 2em;
}

.vertical-timeline-element-one .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #F62600, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-two .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #FF8F3F, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-three .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #F6D365, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-four .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #49C839, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-five .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #44B2F0, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.faq {
    background-color: #3eadcf;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 75%);
    color: white;
}

.faq-container {
    padding: 4em 2em;
}

.faq-title {
    font-size: 36px;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
}

.faq-card {
    font-size: 18px;
    border: 0;
    margin-bottom: 1em;
    border-radius: 20px;
    animation-duration: 1000ms;
    animation-name: fadeIn;
    background: rgba(255, 255, 255, 0.1);
}

.chevron-icon {
    margin-right: 1em;
    transition: all 0.5s;
}

.chevron-icon-open {
    transform: rotate(90deg);
    margin-right: 1em;
    transition: all 0.5s;
}

.faq-card-header {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
}

.faq-card-header:hover {
    cursor:pointer;
    background: rgba(255, 255, 255, 0);
}

.faq-card-body {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 3em;
}

.special-thanks {
    text-align: center;
    padding-bottom: 10em;
}

.special-thanks-title {
    font-size: 36px;
    font-weight: 600;
}

.special-thanks-row {
    display: flex;
    align-items: center;
}

.special-thanks-name {
    font-size: 24px;
    padding-bottom: 5rem;
}

.ctc-logo {
    height: 25vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.ctc-logo:hover {
    transform: scale(0.6);
}

.zotbins-logo {
    height: 25vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.zotbins-logo:hover {
    transform: scale(0.6);
}

.maiss-logo {
    height: 20vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.maiss-logo:hover {
    transform: scale(0.6);
}

.wolfram-logo {
    height: 20vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.wolfram-logo:hover {
    transform: scale(0.6);
}

.deloitte-logo {
    height: 10vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.deloitte-logo:hover {
    transform: scale(0.6);
}

.deloitte {
    font-size: 24px;
    padding-bottom: 5rem;
    margin-top: 4rem;
}

.asuci-logo {
    height: 20vh;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.5, 0.5);
}

.asuci-logo:hover {
    transform: scale(0.6);
}

footer {
    text-align: center;
    padding-bottom: 2em;
    font-size: 16px;
}

.icssc-logo-footer {
    width: 100px;
    height: auto;
    padding-bottom: 1em;
}

@media (max-width: 768px) {
    .pretitle {
        font-size: 16px;
    }
    .main-title {
        font-size: 48px;
    }
    .dates {
        font-size: 20px;
    }
    .deadline {
        font-size: 16px;
    }
    .left-building {
        padding-bottom: 0.8vw;
    }
    .right-building {
        padding-bottom: 1vw;
    }
    .about-row {
        flex-direction: column;
    }
    .about-col {
        width: 100vw;
        text-align: center;
        padding-top: 3em;
    }
    .earth-col {
        width: 100vw;
    }
    .about-title {
        text-align: center;
    }
    .about-text {
        text-align: center;
    }
}

@media (max-width: 1169px) {
    .vertical-timeline-date {
        color: white;
        margin: 0em;
    }
}
