html, body {
    font-family: 'Poppins', 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing-container {
    text-align: center;
    height: 100vh;
    padding: 0;
    animation-duration: 5000ms;
    animation-name: fadeIn;
}

.icssc-logo {
    width: 80px;
    height: auto;
    float: left;
    margin: 0.5em;
}

.pretitle {
    font-weight: 600;
    font-size: 20px;
    padding-top: 5em;
    color: #4D4D4D;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    padding-top: 0.5em;
    color: #387CA0;
}

.dates {
    font-weight: 500;
    font-size: 22px;
    padding-top: 1em;
    color: #4D4D4D;
}

.globe-img {
    padding-bottom: 2em;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    background: linear-gradient(270deg, #387CA0 0%, #0F8C2A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 3s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.about {
    padding-top: 5em;
    height: 100vh;
}

.about-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.about-text {
    font-size: 18px;
    padding: 0 10%;
    text-align: center;
}

.schedule {
    padding-top: 5em;
}

.schedule-title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.vertical-timeline::before {
    background: linear-gradient(180deg, #387CA0 0%, #0F8C2A 100%);
    width: 6px;
    border-radius: 20px;
}

.vertical-timeline-element-title {
    font-size: 26px;
}

.vertical-timeline-date {
    color: #4D4D4D;
    margin: 0em 2em;
}

.vertical-timeline-element-one .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #387CA0, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-two .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px #0F8C2A, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.faq {
    padding-top: 10em;
    padding-bottom: 10em;
}

.faq-title {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center;
}

.faq-card {
    border: 0;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding-bottom: 3em;
    color: #212529;
}
